In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [41]:
df = pd.read_excel("C:/Users/MSI/Documents/My_doc/Stage/Projet_suivi_contrats/test_contrat_VF.xlsx")
df.head()

c:\Users\MSI\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():
c:\Users\MSI\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

,Indexe,Nom,Contact du client,Numéro Contrat,Type de client,Date de début,Date de fin,Status,Offres,Departement,Commune,Agent SBIN(Responsable contrat)
0,1,AlphaTech,22940902107,SBIN202300001,Entreprise,01/01/2023,31/12/2023,EXPIRE,FTTH,Atlantique,Natitingou,Ange Yétonde
1,2,BetaSolutions,22940655177,SBIN202300002,Entreprise,16/01/2023,15/01/2024,EXPIRE,FTTH,Mono,Natitingou,Benoit Agossou
2,3,Ministère de l'Intérieur,22940109349,SBIN202300003,ETAT,31/01/2023,30/01/2024,EXPIRE,FTTH,Donga,Savalou,Lucien Glele
3,4,Ministère des Affaires Étrangères,22940439877,SBIN202300004,ETAT,15/02/2023,14/02/2024,EXPIRE,Celtiis Business RNIS,Atlantique,Abomey-Calavi,Ange Yétonde
4,5,Ministère de la Défense,22940249298,SBIN202300005,ETAT,02/03/2023,29/02/2024,EXPIRE,FTTH,Ouémé,Porto-Novo,Victoire Azon

In [42]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Indexe                           100 non-null    int64
 1   Nom                              100 non-null    object
 2   Contact du client                100 non-null    int64
 3   Numéro Contrat                   100 non-null    object
 4   Type de client                   100 non-null    object
 5   Date de début                    100 non-null    object
 6   Date de fin                      100 non-null    object
 7   Status                           100 non-null    object
 8   Offres                           100 non-null    object
 9   Departement                      100 non-null    object
 10  Commune                          100 non-null    object
 11  Agent SBIN(Responsable contrat)  100 non-null    object
dtypes: int64(2), object(10)
memory usage: 9.5+ KB

Tri par mois et par année

In [43]:
#conversion des dates dans un format permettant d'extraire le mois et l'année
df['Date de début'] = pd.to_datetime(df['Date de début'], format="%d/%m/%Y", errors='coerce')
df['Date de fin'] = pd.to_datetime(df['Date de fin'], format="%d/%m/%Y", errors='coerce')

#tri par mois
def tri_par_mois(mois):
    plage = df[(df['Date de fin'].dt.month == mois)]
    return plage

#tri par année
def tri_par_annee(annee):
    plage = df[(df['Date de fin'].dt.year == annee)]
    return plage

#tri par mois annee
def tri_par_mois_annee(mois,annee):
    plage = df[(df['Date de fin'].dt.year <= annee) & (df['Date de fin'].dt.month <= mois)]
    return plage

Tri par contrat

In [49]:
def tri_par_contrat(contrat):
    plage = df[df['Offres'] == contrat]
    return plage

Recherche

In [54]:
#recherche par nom
def recherhce_par_nom(nom):
    return df[df['Nom'] == nom]

#recherche par numéro contrat
def recherhce_par_num(num):
    return df[df['Numéro Contrat'] == num]

Statistiques